<app-page-header>{{subTitle}}</app-page-header>

<div class="max-w-7xl mx-auto pb-12">
    <div class="flex justify-between">
        <div class="main-side p-12 bg-white">
            <p class="text-3xl">
                {{course().title}}
            </p>
            <div class="flex justify-around items-center my-6 pt-6 border-t">
                <div class="flex items-center thumbnail">
                    <div class="thumbnail-img mr-3 w-7 h-7 bg-gray-300 text-white rounded-full flex items-center justify-center">
                        <mat-icon aria-hidden="false" aria-label="person" fontIcon="person" class="rounded"></mat-icon>
                    </div>
                    <div class="desc">
                        <p class="text-xs d-top">Instructor</p>
                        <p class="text-xs d-buttom">{{course().name}}</p>
                    </div>
                </div>

                <div class="desc">
                    <p class="text-xs d-top">Category</p>
                    <p class="text-xs d-buttom">{{course().category}}</p>
                </div>

                <div class="desc">
                    <p class="text-xs d-top">Likes</p>
                    <p class="flex items-center text-xs d-buttom">
                        <mat-icon  (click)="likeCourse()"
                        aria-hidden="false" aria-label="heart" fontIcon="favorite" class="mr-1 text-red-500"></mat-icon> {{course().hearts}}
                    </p>
                </div>

                <div class="desc">
                    <p class="text-xs d-top">Reviews</p>
                    <div class="text-xs d-buttom flex">
                        <div class="text-yellow-500 mr-2" >
                            <mat-icon aria-hidden="false" aria-label="star" fontIcon="star"></mat-icon>
                            <mat-icon aria-hidden="false" aria-label="star" fontIcon="star"></mat-icon>
                            <mat-icon aria-hidden="false" aria-label="star" fontIcon="star"></mat-icon>
                            <mat-icon aria-hidden="false" aria-label="star" fontIcon="star"></mat-icon>
                            <mat-icon aria-hidden="false" aria-label="star" fontIcon="star"></mat-icon>
                        </div>
                        <p  class="">({{course().reviews}} Reviews)</p>
                    </div>
                </div>

            </div>
            <div class="">
                <img src="{{course().image}}" />
            </div>
            <app-tab-container [course]="course()" />
        </div>

        <div class="right-side ">
            <div class="p-12 bg-white">
                <p class="text-3xl">
                    Course Features
                </p> 
                <div class="flex justify-between items-center py-3 text-gray-500">
                    <span class="flex items-center"><mat-icon class="mr-2 text-yellow-500" aria-hidden="false" aria-label="time" fontIcon="schedule"></mat-icon> Duration : </span>
                    <span>{{course().duration}}</span>
                </div>
                <div class="flex justify-between items-center py-3 text-gray-500">
                    <span class="flex items-center"><mat-icon class="mr-2 text-yellow-500"  aria-hidden="false" aria-label="time" fontIcon="library_books"></mat-icon> Lectures : </span>
                    <span>{{course().lectures}}</span>
                </div>
                <div class="flex justify-between items-center py-3 text-gray-500">
                    <span class="flex items-center"><mat-icon class="mr-2 text-yellow-500"  aria-hidden="false" aria-label="time" fontIcon="quiz"></mat-icon> Quizes : </span>
                    <span>{{course().quizes}}</span>
                </div>
                <div class="flex justify-between items-center py-3 text-gray-500">
                    <span class="flex items-center"><mat-icon class="mr-2 text-yellow-500"  aria-hidden="false" aria-label="time" fontIcon="person"></mat-icon> Students : </span>
                    <span>{{course().students}}</span>
                </div>

                <div class="flex justify-between items-center border-t pt-4 mt-4">
                    <p class="font-bold  text-red-900">
                        Price: <span class="text-gray-400">{{course().price | currency}} </span>
                    </p>
                    <mat-icon aria-hidden="false" aria-label="icon" fontIcon="shopping_cart" class="transition ease-linear delay-200 text-blue-500 c-pointer hover:text-blue-600 hover:scale-150" />
                </div>
            </div>
        </div>
    </div>
</div>