.stat-item mat-icon{
    width: 100px;
    height: 100px;
    font-size: 100px;
    color: yellowgreen
}
.stat-item p{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-size: x-large;
}