<div class="flex pt-6" [ngClass]="{'border-t':componentName()=='reviews'}">
    <div class=" mr-6" [style.width.px]="user().photoUrl.size">
        <img src="{{user().photoUrl.text}}" alt="user" class="w-[100%]">

    </div>
    <div>
        <p class="font-bold {{user().name.size}}" >
           {{user().name.text}}
        </p>
        <p class="text-gray-400">{{user().position}}</p>
        <p class="socials mt-6">
            @for (item of user().socials; track $index) {

                <mat-icon aria-hidden="false" aria-label="icon" fontIcon="{{item}}" style="transform: scale(1.5);" class="text-blue-500" />
            }
        </p>
    </div>
</div>
<p class="my-6 text-gray-500">
    {{user().desc}}
</p>