<div class="p-6">
    <div class="py-4 text-red-900">
        Course Summery
        <p class="text-gray-500">
            Lorem ipsum gravida nibh vel velit auctor aliquetn 
            sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. 
            Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
            Morbi accumsan ipsum velit. Nam nec tellus .
        </p>
    </div>

    <div class="py-4 text-red-900">
        Requirements
        <p class="text-gray-500">
            Lorem ipsum gravida nibh vel velit auctor aliquetn 
            sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. 
            Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
            Morbi accumsan ipsum velit. Nam nec tellus .
        </p>
    </div>
</div>