.overlay-container-home{
    position: relative;
    height: 85vh;
    overflow: hidden;
    background-image: url("../../../../public/assets/images/banner1.jpg");
    background-size: cover;
}

.stats-container{
    min-height: 100px;
    border-radius: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.welcome-note{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    line-height: 30px;
}

.welcome-note-text, .welcome-note-img{
    width: 48%;
}
.welcome-note-img{ 
    overflow: hidden;
}
.welcome-note-img img{
    width: 100%;
    margin-top: -80px;
}