<div class="p-6">
    <div class="flex justify-even items-center my-4 mb-8">
        <button  class="mr-3 bg-blue-500 hover:bg-blue-600 text-white flex p-2 px-4 rounded-full  justify-between items-center">Drop a comment  
            <mat-icon aria-hidden="false" fontIcon="comment" class="mx-2"></mat-icon> ({{reviewers.length}})
        </button>
        <button (click)="likeCourse()"  class="mr-3 bg-red-500 hover:bg-red-600 text-white flex p-2 px-4 rounded-full justify-between items-center">Drop a heart 
            <mat-icon aria-hidden="false" fontIcon="favorite" class="mx-2"></mat-icon> ({{course().hearts}})
        </button>
    </div>
    @for (reviewer of reviewers; track $index) {
        <app-thumbnail [componentName]="'reviews'" [user]="reviewer"  />
    }
</div>