<div class="overlay-container mb-12">
    <div class="gray-overlay">
        <div class="components-container text-white max-w-7xl mx-auto pt-6">
            <app-header />
            <p class="text-4xl font-bold pt-3 text-yellow-300 text-center">
                Our Courses
            </p>
        </div>
    </div>
</div>

<div class="max-w-7xl mx-auto py-12">
<mat-grid-list 
    cols="{{cols()}}" 
    rowHeight="{{rowHeight()}}"
    gutterSize="60"
>
    @for (item of paginatedList(); track item.id) {
        <mat-grid-tile class="border rounded-xl scale-on-hover" >
            <app-single-course (passLikedCourseToParent)="setLikedCourse($event)" [course]="item"  />
        </mat-grid-tile>
    }
  </mat-grid-list>
  <div class="py-6">
    <app-pagination (passPageOptToParent)="onPaginate($event)" [totalCount]="totalCourses"/>
  </div>
</div>