<app-course-page-header>Our Courses</app-course-page-header>

<div class="max-w-7xl mx-auto">

<div class="bg-white p-2 pt-4 pl-4 rounded-md mb-12">
    <div class="flex justify-end items-center text-gray-500">
        <button (click)="onColumnsUpdated(1)" style="transform: scale(1.5);" class="mr-4">
            <mat-icon>view_list</mat-icon>
        </button>
        <button (click)="onColumnsUpdated(3)" style="transform: scale(1.5);" class="mr-2">
            <mat-icon>view_module</mat-icon>
        </button>
    </div>
</div>

<mat-grid-list 
    cols="{{cols()}}" 
    rowHeight="{{rowHeight()}}"
    gutterSize="{{gutterSize}}"
>
@if(!paginatedList().length){
    <div class="font-bold 
    p-6 mx-auto flex 
    justify-center
    items-center
    align-items
    min-h-full
    text-gray-400
    "
    >Loading...</div>
}
@for (item of paginatedList(); track item.id) {
    <mat-grid-tile class="rounded-xl scale-on-hover addBoxShadowBelow" >
        <app-single-course [course]="item" [fullWidthMode]="cols()===1" class="w-full" />
    </mat-grid-tile>
}
  </mat-grid-list>
  @if(totalCourses > 0){
    <div class="py-6">
        <app-pagination (passPageOptToParent)="onPaginate($event)" [totalCount]="totalCourses"/>
      </div>
  }
</div>