<app-course-page-header>Our Courses</app-course-page-header>

<div class="max-w-7xl mx-auto">
<mat-grid-list 
    cols="{{cols()}}" 
    rowHeight="{{rowHeight()}}"
    gutterSize="60"
>
@if(!paginatedList().length){
    <div class="font-bold 
    p-6 mx-auto flex 
    justify-center
    items-center
    align-items
    min-h-full
    text-gray-400
    "
    >Loading...</div>
}
    @for (item of paginatedList(); track item.id) {
        <mat-grid-tile class="rounded-xl scale-on-hover " >
            <app-single-course (passLikedCourseToParent)="setLikedCourse($event)" [course]="item"  />
        </mat-grid-tile>
    }
  </mat-grid-list>
  @if(totalCourses > 0){
    <div class="py-6">
        <app-pagination (passPageOptToParent)="onPaginate($event)" [totalCount]="totalCourses"/>
      </div>
  }
</div>