/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0px;
    margin: 0px;
    letter-spacing: 1px;
    box-sizing: border-box;
    font-size: 18px;
}
html, body { height: 100%; }
body { 
    background-color: #eee;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
        animation: fadeInAnimation ease 5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: .5;
        }

        100% {
            opacity: 1;
        }
    }
.c-pointer{
    cursor: pointer;
}

.space-no-wrap{
    white-space: nowrap;
}

.transparent-bg-brown{
    background-color:  rgba(51, 39, 49, .3);
}

.transparent-bg-black{
    background-color:  rgba(51, 19, 29, .7);
}
.half-width{
    width: 50%;
}

.yellow-green-color{
    color: yellowgreen;
}

.overlay-container{
    position: relative;
    height: 200px;
    overflow: hidden;
    background-image: url("../public/assets/images/banner3.jpg");
    background-size: cover;
}
.gray-overlay{
    position: absolute;
    width:100%;
    background-color: rgba(51, 39, 49, .89);
    height: 100vh;
}
.v-separator{
    display: inline-block;
    margin: 0 10px;
    color: skyblue;
    font-weight: bolder;
}

.fadedText{
    opacity: .4;
}

.h-separator{
    margin: 40px auto;
    border-top: 2px solid #eee;
}


.scale-on-hover{
    transition: transform .5s;
    cursor: pointer;
}
.scale-on-hover:hover{
    transform: scale(1.05);
}
.addBoxShadowBelow{
    box-shadow: 0px 1px 1px 1px #aaa;
}